<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mapper.PurchaseMapper">
    <insert id="addPurchase">
		INSERT INTO 
	    	purchase
	   			(
					coinType,
					won,
					wallet,
					name,
					phone,
					password,
					content,
					val,
					val2,
					val3,
					val4,
					sysdate,
					status
				)
	    	VALUES
	   			(
	   				#{coinType},
	   				#{won},
	   				#{wallet},
	   				#{name},
	   				#{phone},
	   				#{password},
	   				#{content},
	   				#{val},
	   				#{val2},
	   				#{val3},
	   				#{val4},
	   				NOW(),
	   				"S"
				)
    </insert>
	<select id="getPurchaseAll" resultType="com.web.domain.Purchase">
		SELECT
			id,
			coinType,
			won,
			wallet,
			name,
			phone,
			content,
			val,
			val2,
			val3,
			val4,
			sysdate,
			status
		FROM
			purchase
	</select>
	<select id="getPurchase" resultType="com.web.domain.Purchase">
		SELECT
			id,
			coinType,
			won,
			wallet,
			name,
			phone,
			content,
			val,
			val2,
			val3,
			val4,
			sysdate,
			status
		FROM
			purchase
		WHERE
			name = #{name}
		AND
			phone = #{phone}
		AND
			password = #{password}
	</select>
	<update id="updateStatus">
		UPDATE 
    		purchase
		SET 
			status = #{status}
		WHERE 
			id = #{id}
	</update>
</mapper>
